@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: dark light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --background-color: #232323;
  --primary-font-color: #FFFFFF;
  --secondary-font-color: #DCDCDC;
  --font-family: Inter;
  --2-color: #49262F;
  --4-color: #822a43;
  --8-color: #911234;
  --16-color: #e63462;
  --32-color: #e98657;
  --64-color: #c0c00c;
  --128-color: #93b555;
  --256-color: #70dea6;
  --512-color: #42d9c8;
  --1024-color: #43a4b5;
  --2048-color: #386fa4;
  --4096-color: #2539a7;
  --8192-color: #340086;
  --16384-color: #9800ac;
  --32768-color: #660055;
  --65536-color: #4b0013;
  --131071-color: #49262F;
}

.text_base {
  font-family: var(--font-family);
  color: var(--primary-font-color);
}